footer.footer__creative 
    .footer__creative__logo
        include ../logo/logo.pug
    .footer__creative__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer__creative__socials
        include ../socials/socials.pug