include ../button/button.pug

mixin header(isLogged, name)
   block header
      header.header
            .header__inner
               .header__logo
                  include ../logo/logo.pug
               .header__nav
                  .header__menu
                     include ../nav-menu/nav-menu.pug
                  if isLogged
                     .header__user
                        .header__name= name
                  else
                     .header__buttons
                        .header__button
                           +button('ВОЙТИ')
                        .header__button
                           +button('ЗАРЕГИСТРИРОВАТЬСЯ')
               
               
            
               
   