include ../button/button.pug

block header
   header.header
         .header__inner
            include ../logo/logo.pug
            include ../nav-menu/nav-menu.pug
            .user-nav
               +button('ВОЙТИ')
               +button('ЗАРЕГИСТРИРОВАТЬСЯ')
            
               
            
               
   