footer.footer   
    .footer__inner
        .footer__logo
            include ../logo/logo.pug
            .logo__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__menu__item
                h3.footer__menu__title НАВИГАЦИЯ
                a.footer__menu__link О нас
                a.footer__menu__link Новости
                a.footer__menu__link Служба поддержки
                a.footer__menu__link Услуги
        .footer__menu__item
                h3.footer__menu__title О НАС
                a.footer__menu__link О сервисе
                a.footer__menu__link Наша команда
                a.footer__menu__link Вакансии
                a.footer__menu__link Инвесторы
        .footer__menu__item
                h3.footer__menu__title СЛУЖБА ПОДДЕРЖКИ
                a.footer__menu__link Соглашения
                a.footer__menu__link Сообщества
                a.footer__menu__link Сязь с нами
        .footer__subscribe
            .footer__menu__item
                h3.footer__menu__title ПОДПИСКА
                .footer__subscribe__text Получайте специальные предложения и новости сервиса
    .footer__copyright__bar
            .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
            .footer__socials
                include ../socials/socials.pug