.socials
    a.socials__item(href="#")
        img.twitter(src=require("./img/twitter.svg"))
    a.socials__item(href="#")
        img.faceb(src=require("./img/faceb.svg"))
    a.socials__item(href="#")
        img.inst(src=require("./img/inst.svg"))