@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot");
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.svg") format("svg"),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot");
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/montserrat-v15-latin_cyrillic-700.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
